<div class="container">
  <h1><%= @actor.name %></h1>

  <div class="link">
    <%= link_to "Click Here For All of This Actor's/Actress' Details!", "#{@actor.imdb_url}", target: "_blank" %>
  </div>

</div>
