<div class="container center">
  <h1><strong><%= current_user.email %>'s Wishlist</strong></h1>
  <ul id="disc-list">
  </ul><br><br>

  <div class="container">
    <%= link_to "Add A Disc To Your Wishlist!", new_disc_path %>
  </div>

  <div class="container left">
    <h3>*** If you need some disc ideas, check out what others have added!:</h3>
    <ul>
      <% @non_user.each do |disc| %>
        <li><%= disc.title %></li>
      <% end %>
    </ul>

  </div>


</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $.get("/discs.json", function(data) {
      var discs = data;
      $("#disc-list").html("");
      for (var i = 0; i < discs.length; i++) {
        var titleLink = '<a href="/discs/' + discs[i]["id"] + '">' + discs[i]["title"] + '</a>';
        var amazonLink = '<a target="_blank" href="' + discs[i]["amazon_url"] + '">Amazon Page</a>';
        var purchasedLink = '<a rel="nofollow" data-method="post" href="/discs/' + discs[i]["id"] + '/purchase">Purchased?</a>';
        var deleteLink = '<a data-confirm="Are You Sure?" rel="nofollow" data-method="delete" href="/discs/' + discs[i]["id"] + '">Delete?</a>';
        var fullLi = '<li>' + titleLink + ' | ' + amazonLink + ' | ' + purchasedLink + ' | ' + deleteLink + '</li>';
        $("#disc-list").append(fullLi)
      };
    });
  });
</script>
