<div class="container">
  <h1><strong><%= current_user.email %>'s Wishlist</strong></h1>
  <ul>
    <% @discs.each do |disc| %>
      <li><%= link_to "#{disc.title}", disc_movies_path(disc) %> | <a target="_blank" href="<%= disc.amazon_url %>">Amazon Page</a></li>
    <% end %>
  </ul>

  <div class="container">
    <%= link_to "Add A Disc To Your Wishlist!", new_disc_path %>
  </div>
</div>
