<div class="container center">
  <h1><strong><%= current_user.email %>'s Wishlist</strong></h1>
  <ul id="disc-list">
  </ul><br><br>

  <div class="container">
    <%= link_to "Add A Disc To Your Wishlist!", new_disc_path %>
  </div>

  <div class="container left">
    <h3>*** If you need some disc ideas, check out what others have added!:</h3>
    <ul>
      <% @non_user.each do |disc| %>
        <li><%= disc.title %></li>
      <% end %>
    </ul>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  function Disc(id, title, amazon_url) {
    this.id = id;
    this.title = title;
    this.amazon_url = amazon_url;

    this.linkForTitle = function() {
      return(`<a href="/discs/${this.id}">${this.title}</a>`);
    };
    this.linkForAmazon = function() {
      return('<a target="_blank" href="' + this.amazon_url + '">Amazon Page</a>');
    };
    this.linkForPurchased = function() {
      return('<a rel="nofollow" data-method="post" href="/discs/' + this.id + '/purchase">Purchased?</a>');
    };
    this.linkForDelete = function() {
      return('<a data-confirm="Are You Sure?" rel="nofollow" data-method="delete" href="/discs/' + this.id + '">Delete?</a>');
    };
    this.buttonForOptions = function() {
      return(`<button type="button" class="btn btn-primary" id="options-button"data-id="${this.id}">Options</button>`)
    };
  }

  $(function() {
    $("#disc-list").on('click', '#options-button', function() {
      var id = $(this).data("id");
      $.get(`/discs/${id}.json`, function(data) {
        var disc = new Disc(data["id"], data["title"], data["amazon_url"]);
        console.log(disc);
        $(`#options-span-${id}`).html(' | ' + disc.linkForAmazon() + ' | ' + disc.linkForPurchased() + ' | ' + disc.linkForDelete());
      });
    });
  });


  $(document).ready(function() {
    $.get("/discs.json", function(data) {
      var discs = data;
      $("#disc-list").html("");
      for (var i = 0; i < discs.length; i++) {
        var disc = new Disc(discs[i]["id"], discs[i]["title"], discs[i]["amazon_url"]);
        var fullLi = '<li>' + disc.linkForTitle() + ' <span id="options-span-' + disc.id + '">' + disc.buttonForOptions() + '</span></li>';
        $("#disc-list").append(fullLi)
      };

    });
  });
</script>
