<div class="container center">
  <h1><strong><%= current_user.email %>'s Owned Discs</strong></h1><br>
  <ul>
    <% owned_discs.each do |disc| %>
      <li><%= link_to disc.title, disc %></li>
    <% end %>
  </ul>

</div>
