<div class="container">
  <h1 id="disc-title"></h1>
  <p id="disc-edit"></p>
  <p id="spec-edition"></p>
  <p id="year-released"></p>
  <p id="amazon-link"></p>
  <h2>Disc's Movie(s):</h2><br>
  <ul id="disc-movies"></ul>
  <p id="add-movie-link"><%= link_to "Click Here To Add Another Movie To This Disc", new_disc_movie_path(@disc) %></p>
  <h3 id="public-notify"></h3>


</div>


<script type="text/javascript" charset="utf-8">
  function Disc(id, title, amazon_url, special, pressing_year, movies, user_discs) {
    this.id = id;
    this.title = title;
    this.amazon_url = amazon_url;
    this.special = special;
    this.pressing_year = pressing_year;
    this.movies = movies;
    this.moviesObjs = [];
    this.user_discs = user_discs;
    this.user_discObjs = [];

    this.editLink = function() {
      return(`<a href="/discs/${this.id}/edit">Edit</a>`);
    };

    this.textForSpecial = function() {
      if (this.special === true) {
        return("<strong>Special Edition</strong>");
      }else{
        return("");
      };
    };

    this.textForYear = function() {
      return(`Year Disc Released: ${this.pressing_year}`);
    };

    this.linkForAmazon = function() {
      return('<a target="_blank" href="' + this.amazon_url + '">Amazon Page</a>');
    };

    this.movieList = function() {
      var result = "";
      var discId = this.id
      this.moviesObjs.forEach(function(obj) {
        result = result + `<li><a href="/discs/${discId}/movies/${obj.id}">${obj.title}</a> | <a rel="nofollow" data-method="delete" href="/discs/${discId}/movies/${obj.id}">Delete?</a></li>`
      });
      return result
    };

    this.discPub = function() {
      var publicResult = ""
      var discId = this.id
      this.user_discObjs.forEach(function(obj) {
        if (obj.pub === 1) {
          publicResult = "Disc Is Public"
        }else{
          publicResult = `<a rel="nofollow" data-method="post" href="/user_discs/${obj.id}/publicize?disc_id=${discId}">Make Disc Public?</a>`
        };
      });
      return publicResult;
    };

  };

  var loadMovies = function(discInstance) {
    for (var i = 0; i < discInstance.movies.length; i++) {
      var movieInstance = new Movie(discInstance.movies[i]["id"], discInstance.movies[i]["title"], discInstance.movies[i]["release_year"], discInstance.movies[i]["imdb_url"]);
      discInstance.moviesObjs[i] = movieInstance;
    };
  };

  var loadUserDiscs = function(discInstance) {
    for (var i = 0; i < discInstance.user_discs.length; i++) {
      var userDiscInstance = new UserDisc(discInstance.user_discs[i]["id"], discInstance.user_discs[i]["pub"]);
      discInstance.user_discObjs[i] = userDiscInstance;
    };
  };

  function Movie(id, title, release_year, imdb_url) {
    this.id = id;
    this.title = title;
    this.release_year = release_year;
    this.imdb_url = imdb_url;
  };

  function UserDisc(id, pub) {
    this.id = id;
    this.pub = pub;
  };


  $(document).ready(function() {
    $.get('/discs/<%=@disc.id%>.json', function(data) {
      var disc = data;
      var d = new Disc(disc["id"], disc["title"], disc["amazon_url"], disc["special?"], disc["pressing_year"], disc["movies"], disc["user_discs"]);
      loadMovies(d);
      loadUserDiscs(d);
      $("#disc-title").html(d.title);
      $("#disc-edit").html(d.editLink());
      $("#spec-edition").html(d.textForSpecial());
      $("#year-released").html(d.textForYear());
      $("#amazon-link").html(d.linkForAmazon());
      $("#disc-movies").html(d.movieList());
      $("#public-notify").html(d.discPub());
    });
  });
</script>
